---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">A dedicated sociology graduate seeking to make a meaningful impact through law school and advocacy</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Lorraine Chen (she/her/hers)
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Hi there! My name is Lorraine Chen, and I recently graduated with a degree in Sociology from Colorado College. Throughout my academic journey, I developed a deep passion for researching and analyzing the intersections of gender, law, and family in society.

My research has focused on the ways in which gender norms and expectations influence legal decision-making in cases of family law, including divorce, child custody, and domestic violence. I have also explored the ways in which legal institutions reinforce and perpetuate gender inequality, particularly in relation to women and marginalized communities.


My academic pursuits have fueled my desire to pursue a career in law. I am excited to apply my knowledge and skills to advocate for marginalized communities and challenge unjust legal systems. I plan to attend law school to continue my education and gain the tools necessary to make a meaningful impact in the field of family law.

In my free time, I enjoy volunteering at local non-profits that focus on gender equity and social justice. I am also an avid reader, and I enjoy delving into literature that broadens my understanding of the complexities of human relationships and social structures.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
